.profile__header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  margin-bottom: 2rem;
  border-bottom: 2px solid gray;
}

.profile__title {
  margin: 0;
}

.profile__action .btn {
  text-transform: none;
  margin-left: 10px;
}
